/* ESTILOS RESET */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS HEADER */

header {
    background-color:rgb(25, 23, 23);
    color: white;
    text-align:center;
    /* padding-top: 4px;
    padding-bottom: 16px; */
    padding: 8px 0 20px 0px;
}

header p {
    font-size: 1.5rem;
    font-weight: 700;
}

/* ESTILOS NAV */

nav {
    background-color: grey;
    text-align: center;
    padding: 20px 0px;
    height: 70px;
}

nav ul li {
    display: inline;
    margin: 0px 8px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}

nav ul li a:hover{
    color: beige;
    text-decoration: underline;
}


